.info-modal {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60%; /*447px*/
    height: 90vh;
    background: white;
    padding: 15px;
    border-radius: 36px;
    z-index: 1000;
    overflow: scroll;
  }
  
.info-modal img {
    width: 450px; /*450px*/
    height: 187px; /*187px*/
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
  
.info-modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.info-modal button:hover {
    color: #FFBF69 !important;
}
  