body {
    background: linear-gradient(44deg,rgba(255, 191, 105, 0.3), rgba(255, 255, 255, 1) 70.71%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.padding {
    padding-top: 0.2rem;
    padding-left: 1rem;
}

.padding-right {
    padding-left: 0.5rem;
}